<head>
    <meta charset="UTF-8" />
</head>
<body>
<p> [ 1 ] <br>{{ cf1_id }}: <a href={{ url_base }}{{ cf1_url }}>{{ cf1_str }}({{ cf1_sim }})</a></p> 
<p> [ 2 ] <br>{{ cf2_id }}: <a href={{ url_base }}{{ cf2_url }}>{{ cf2_str }}({{ cf2_sim }})</a></p> 
<p> [ 3 ] <br>{{ cf3_id }}: <a href={{ url_base }}{{ cf3_url }}>{{ cf3_str }}({{ cf3_sim }})</a></p> 
<p> [ 4 ] <br>{{ cf4_id }}: <a href={{ url_base }}{{ cf4_url }}>{{ cf4_str }}({{ cf4_sim }})</a></p> 
<p> [ 5 ] <br>{{ cf5_id }}: <a href={{ url_base }}{{ cf5_url }}>{{ cf5_str }}({{ cf5_sim }})</a></p> 
<p> [ 6 ] <br>{{ cf6_id }}: <a href={{ url_base }}{{ cf6_url }}>{{ cf6_str }}({{ cf6_sim }})</a></p> 
<p> [ 7 ] <br>{{ cf7_id }}: <a href={{ url_base }}{{ cf7_url }}>{{ cf7_str }}({{ cf7_sim }})</a></p> 
<p> [ 8 ] <br>{{ cf8_id }}: <a href={{ url_base }}{{ cf8_url }}>{{ cf8_str }}({{ cf8_sim }})</a></p> 
<p> [ 9 ] <br>{{ cf9_id }}: <a href={{ url_base }}{{ cf9_url }}>{{ cf9_str }}({{ cf9_sim }})</a></p> 
<p> [ 10 ] <br>{{ cf10_id }}: <a href={{ url_base }}{{ cf10_url }}>{{ cf10_str }}({{ cf10_sim }})</a></p> 
</body>
